.post{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

.post-img img {
    width: 100px;
    border: 1px solid rgb(196, 196, 196);
    padding: 2px;
}

.post-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.title-post{
    margin-bottom: 1rem;
}

.date-post{
    color: rgba(0, 0, 0, 0.34);
    margin-top: 0.5rem;
}

