#container{
  display: grid;
  grid-template-areas: "banner posts";
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 100vh;
}

#bannerSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: banner;
  background-image: url("https://images.unsplash.com/photo-1620421681758-cd89f531661f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1365&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

#bannerSection .banner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#bannerSection::after{
  grid-area: banner;
  position: absolute;
  inset: 0;
  background: rgb(3, 3, 3);
  opacity: .5;
  content: '';
}

.text-banner{
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', serif;
  color: rgb(255, 255, 255);
}

.banner  .text-banner{
  z-index: 2;
  font-size: 50pt; 
  border: 5px double rgb(255, 255, 255);
}


#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: menu;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

#contact .text-banner{
  z-index: 2;
  font-size: 20pt; 
  color: rgb(255, 255, 255);
}

#contact .item-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgb(196, 196, 196);
  border-top: 1px solid rgb(196, 196, 196);
}

.postSection{
  grid-area: posts;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-areas: "menu" 
                      "content" 
                      "pag";
  grid-template-rows: 0.75fr 7fr 0.75fr;
}

.postsMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: menu;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
  width: 60%;
}

.postsMenu .item-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 19px 22px;
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.12), 0 -1px 0 0 transparent;
}


.postsContent{
  display: flex;
  flex-direction: column;
  grid-area: content;
  overflow-y: scroll;
}

.postsPag{
  display: flex;
  flex-direction: row-reverse;

  grid-area: pag;
}

.postsPag .item-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-left: 1px solid rgb(196, 196, 196);
}

a{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #b86800;
  font-family: 'Roboto Condensed', sans-serif;

}

#contact a{
  text-transform: none;
}